<template>
  <v-toolbar app color="pink lighten-5">
    <v-toolbar-title class="headline text-uppercase">
      <span>Nitin </span>
      <span class="font-weight-light">Rana</span>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn v-for="p in pages"
           :to="p.link"
           :key="p.link"
           :color="p.color"
           flat>
      {{p.name}}
    </v-btn>
  </v-toolbar>
</template>

<script>
export default {
  name: "Toolbar",
  data() {
    return {
      pages: [
        {
          name: "Home",
          link: "/",
          color: "blue"
        },
        {
          name: "About",
          link: "about",
          color: "pink"
        }
      ]
    };
  }
};
</script>
