<template>
  <v-layout row wrap class="pa-4">
    <v-flex xs4>
      <Register />
    </v-flex>
  </v-layout>
</template>

<script>
import Register from "@/components/home/Register";

export default {
  components: {
    Register
  }
};
</script>
